extends: default.liquid
title: Candy could not found anything
path: 404.html
---

<h1>Page not found.</h1>

<img class="corner" src="/img/404-candy.jpg" />

<p class="clearfix">
The page you were looking for could not be found.<br /><br />

Your options are:

<ul>
    <li>Or return to the <a href="/">home</a> page.</li>
</ul>
</p>