extends: default.liquid
title: About Me
route: about
path: about/
---

<h1>Hello my beautiful world!!</h1>
<img class="me-image corner" src="/img/loveliver-msw.jpg" />
<p>
  My name is Akira Misawa.<br />
  Derivative Quants Engineer.<br />
</p>

<h2>Experience</h2>
<p class="clearfix">
  <img class="about-icon" src="/img/cpp.png" />
  <img class="about-icon" src="/img/cpppp.png" />
  2016-current:
  Developing xVA model, derivatives pricing model
  and risk management system with <code>C++</code> and <code>C#</code>.
</p>

<h2>Education</h2>
<p class="clearfix">
  <img class="about-icon" src="/img/waseda.png" /> 2014-2016: <b>M.Sc.,
  Department of Pure and Applied Mathematics, <br />
  </b> Graduate School of Fundamental Science and Engineering, <br />
  Waseda University, Tokyo, Japan,<br />
  <li><b>
    Finite Element Analysis of a Projection/Lagrange--Galerkin Method
    for the Incompressible Navier--Stokes Equations</b>
  </li>
</p>

<p class="clearfix">
  <img class="about-icon" src="/img/waseda.png" />
  2014-2016: <b>B.Sc., Department of Mathematics, <br />
  </b> School of Fundamental Science and Engineering, <br />
  Waseda University, Tokyo, Japan, <br />
  <li><b>Numerical Analysis of Partial Differential Equations</b></li>
</p>

<h2>Hobbies</h2>

<p class="clearfix">
  <img class="about-icon" src="/img/rust.png" />
  Interested in <code>Rust</code>.<br />
  Developing an algo-trade system with <code>Rust</code> (not running).
</p>

<p class="clearfix">
  <img class="about-icon" src="/img/rubikcube.png" />
  1st place: Rubik's cube Japan Open 2012, 4x4x4 blindfolded<br />
  2nd place: Rubik's cube Asian Championship 2014, 5x5x5 blindfolded
</p>

<p class="clearfix">
  <img class="about-icon" src="/img/wrcc.png" />
  I was a member of the <a href="http://wrcc.main.jp/">WRCC</a> which is the Rubik's cube circle of the Waseda University.<br />
  <a href="https://www.youtube.com/watch?v=BlSaVxk-eCM">333 Rubik's Cube Blindfolded Movie</a>
</p>
