<nav class="menu">
<a class="menu-item {%if route == "about"%}current{%endif%}" href="/about">q_msw</a>
<a class="menu-item {%if route == "blog"%}current{%endif%}" href="/">blog</a>
<a class="menu-item icon" href="http://github.com/AkiraMisawa"><i class="fa fa-github"></i></a>
<a class="menu-item icon" href="http://twitter.com/q_msw"><i class="fa fa-twitter"></i></a>
<hr>
</nav>
